<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmonogram</title>
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <link rel="icon" href="../static/images/favicon.png" type="image/png">
</head>
<body>
    <div class="legend">
        <div class="legend-item">
            <div class="color-box color1"></div>
            <span>INT-MWF-WykS</span>
        </div>
        <div class="legend-item">
            <div class="color-box color2"></div>
            <span>IAiSC-WykS</span>
        </div>
        <div class="legend-item">
            <div class="color-box color3"></div>
            <span>Both Plans</span>
        </div>
    </div>
    <form method="get" action="/">
        <div class="selection-container">
            <div class="date-selection">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" value="{{ start_date }}" required>
            </div>
            <div class="date-selection">
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" value="{{ end_date }}" required>
            </div>
        </div>
        <div class="selection-container">
            <div class="plan-selection">
                <label for="plan1">Plan 1:</label>
                <select id="plan1" name="plan1">
                    <option value="INT-MWF-WykS" {% if plan1_name == "INT-MWF-WykS" %}selected{% endif %}>INT-MWF-WykS</option>
                    <option value="INT-MWF-1S" {% if plan1_name == "INT-MWF-1S" %}selected{% endif %}>INT-MWF-1S</option>
                    <option value="INT-MWF-2S" {% if plan1_name == "INT-MWF-2S" %}selected{% endif %}>INT-MWF-2S</option>
                </select>
            </div>
            <div class="plan-selection">
                <label for="plan2">Plan 2:</label>
                <select id="plan2" name="plan2">
                    <option value="IAiSC-WykS" {% if plan2_name == "IAiSC-WykS" %}selected{% endif %}>IAiSC-WykS</option>
                    <option value="IAiSC-1S" {% if plan2_name == "IAiSC-1S" %}selected{% endif %}>IAiSC-1S</option>
                    <option value="IAiSC-2S" {% if plan2_name == "IAiSC-2S" %}selected{% endif %}>IAiSC-2S</option>
                </select>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="container">
        <h1>Harmonogram</h1>
    {% for day in plan_data %}
        <div class="date-header">{{ day.date }}</div>
        <table>
            <tbody>
                {% for row in day.rows %}
                <tr class="{{ row.css }}">
                    {{ row.content | safe }}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No plans found for this period. Make sure the dates are correct, and the time between start and end date is not too long (max 7 days).</p>
    {% endfor %}
    </div>
    <footer>Made by Venomkajo at <a href='https://github.com/Venomkajo/combine-dsw-plan'>GitHub</a>.</footer>
</body>
</html>