<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmonogram</title>
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <link rel="icon" href="../static/images/favicon.png" type="image/png">
</head>
<body>
    <div class="container">
        <h1>Harmonogram</h1>
        {{ content | safe }}
    </div>
    <footer>Made by Venomkajo at <a href='https://github.com/Venomkajo/combine-dsw-plan'>GitHub</a>.</footer>
</body>
</html>